@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*** Styles for Tecya Development ***/
.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

/****************************/
/* DESIGN SYSTEM */
.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.fs-xs {
  font-size: 0.75rem;
}

.fs-sm {
  font-size: 0.875rem;
}

.fs-base {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.125rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-2xl {
  font-size: 1.5rem;
}

.fs-3xl {
  font-size: 1.875rem;
}

.fs-4xl {
  font-size: 2.25rem;
}

.fs-5xl {
  font-size: 3rem;
}

.fs-6xl {
  font-size: 3.75rem;
}

.fs-7xl {
  font-size: 4.5rem;
}

.fs-8xl {
  font-size: 6rem;
}

.fs-9xl {
  font-size: 8rem;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
}

h6 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.875rem;
}

h2 {
  font-size: 2.25rem;
}

h1 {
  font-size: 3rem;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

p {
  margin-bottom: 0;
}

.text-upper {
  text-transform: uppercase;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ps-1 {
  padding-left: 0.25rem;
}

.pe-1 {
  padding-right: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.ps-2 {
  padding-left: 0.5rem;
}

.pe-2 {
  padding-right: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.ps-3 {
  padding-left: 0.75rem;
}

.pe-3 {
  padding-right: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.ps-4 {
  padding-left: 1rem;
}

.pe-4 {
  padding-right: 1rem;
}

.p-5 {
  padding: 1.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-5 {
  padding-top: 1.5rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.ps-5 {
  padding-left: 1.5rem;
}

.pe-5 {
  padding-right: 1.5rem;
}

.p-6 {
  padding: 2rem;
}

.px-6 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-6 {
  padding-top: 2rem;
}

.pb-6 {
  padding-bottom: 2rem;
}

.ps-6 {
  padding-left: 2rem;
}

.pe-6 {
  padding-right: 2rem;
}

.p-7 {
  padding: 2.25rem;
}

.px-7 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.py-7 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.pt-7 {
  padding-top: 2.25rem;
}

.pb-7 {
  padding-bottom: 2.25rem;
}

.ps-7 {
  padding-left: 2.25rem;
}

.pe-7 {
  padding-right: 2.25rem;
}

.p-8 {
  padding: 2.5rem;
}

.px-8 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-8 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt-8 {
  padding-top: 2.5rem;
}

.pb-8 {
  padding-bottom: 2.5rem;
}

.ps-8 {
  padding-left: 2.5rem;
}

.pe-8 {
  padding-right: 2.5rem;
}

.p-9 {
  padding: 3rem;
}

.px-9 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-9 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-9 {
  padding-top: 3rem;
}

.pb-9 {
  padding-bottom: 3rem;
}

.ps-9 {
  padding-left: 3rem;
}

.pe-9 {
  padding-right: 3rem;
}

.p-10 {
  padding: 4rem;
}

.px-10 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-10 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-10 {
  padding-top: 4rem;
}

.pb-10 {
  padding-bottom: 4rem;
}

.ps-10 {
  padding-left: 4rem;
}

.pe-10 {
  padding-right: 4rem;
}

.p-11 {
  padding: 6rem;
}

.px-11 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-11 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pt-11 {
  padding-top: 6rem;
}

.pb-11 {
  padding-bottom: 6rem;
}

.ps-11 {
  padding-left: 6rem;
}

.pe-11 {
  padding-right: 6rem;
}

.p-12 {
  padding: 8rem;
}

.px-12 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-12 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.pt-12 {
  padding-top: 8rem;
}

.pb-12 {
  padding-bottom: 8rem;
}

.ps-12 {
  padding-left: 8rem;
}

.pe-12 {
  padding-right: 8rem;
}

.p-13 {
  padding: 12rem;
}

.px-13 {
  padding-left: 12rem;
  padding-right: 12rem;
}

.py-13 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.pt-13 {
  padding-top: 12rem;
}

.pb-13 {
  padding-bottom: 12rem;
}

.ps-13 {
  padding-left: 12rem;
}

.pe-13 {
  padding-right: 12rem;
}

.p-14 {
  padding: 16rem;
}

.px-14 {
  padding-left: 16rem;
  padding-right: 16rem;
}

.py-14 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.pt-14 {
  padding-top: 16rem;
}

.pb-14 {
  padding-bottom: 16rem;
}

.ps-14 {
  padding-left: 16rem;
}

.pe-14 {
  padding-right: 16rem;
}

.p-15 {
  padding: 24rem;
}

.px-15 {
  padding-left: 24rem;
  padding-right: 24rem;
}

.py-15 {
  padding-top: 24rem;
  padding-bottom: 24rem;
}

.pt-15 {
  padding-top: 24rem;
}

.pb-15 {
  padding-bottom: 24rem;
}

.ps-15 {
  padding-left: 24rem;
}

.pe-15 {
  padding-right: 24rem;
}

.p-16 {
  padding: 32rem;
}

.px-16 {
  padding-left: 32rem;
  padding-right: 32rem;
}

.py-16 {
  padding-top: 32rem;
  padding-bottom: 32rem;
}

.pt-16 {
  padding-top: 32rem;
}

.pb-16 {
  padding-bottom: 32rem;
}

.ps-16 {
  padding-left: 32rem;
}

.pe-16 {
  padding-right: 32rem;
}

.p-17 {
  padding: 36rem;
}

.px-17 {
  padding-left: 36rem;
  padding-right: 36rem;
}

.py-17 {
  padding-top: 36rem;
  padding-bottom: 36rem;
}

.pt-17 {
  padding-top: 36rem;
}

.pb-17 {
  padding-bottom: 36rem;
}

.ps-17 {
  padding-left: 36rem;
}

.pe-17 {
  padding-right: 36rem;
}

.p-18 {
  padding: 40rem;
}

.px-18 {
  padding-left: 40rem;
  padding-right: 40rem;
}

.py-18 {
  padding-top: 40rem;
  padding-bottom: 40rem;
}

.pt-18 {
  padding-top: 40rem;
}

.pb-18 {
  padding-bottom: 40rem;
}

.ps-18 {
  padding-left: 40rem;
}

.pe-18 {
  padding-right: 40rem;
}

.p-19 {
  padding: 48rem;
}

.px-19 {
  padding-left: 48rem;
  padding-right: 48rem;
}

.py-19 {
  padding-top: 48rem;
  padding-bottom: 48rem;
}

.pt-19 {
  padding-top: 48rem;
}

.pb-19 {
  padding-bottom: 48rem;
}

.ps-19 {
  padding-left: 48rem;
}

.pe-19 {
  padding-right: 48rem;
}

.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ms-1 {
  margin-left: 0.25rem;
}

.me-1 {
  margin-right: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ms-3 {
  margin-left: 0.75rem;
}

.me-3 {
  margin-right: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ms-4 {
  margin-left: 1rem;
}

.me-4 {
  margin-right: 1rem;
}

.m-5 {
  margin: 1.5rem;
}

.mx-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.ms-5 {
  margin-left: 1.5rem;
}

.me-5 {
  margin-right: 1.5rem;
}

.m-6 {
  margin: 2rem;
}

.mx-6 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.ms-6 {
  margin-left: 2rem;
}

.me-6 {
  margin-right: 2rem;
}

.m-7 {
  margin: 2.25rem;
}

.mx-7 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.my-7 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.mt-7 {
  margin-top: 2.25rem;
}

.mb-7 {
  margin-bottom: 2.25rem;
}

.ms-7 {
  margin-left: 2.25rem;
}

.me-7 {
  margin-right: 2.25rem;
}

.m-8 {
  margin: 2.5rem;
}

.mx-8 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-8 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mt-8 {
  margin-top: 2.5rem;
}

.mb-8 {
  margin-bottom: 2.5rem;
}

.ms-8 {
  margin-left: 2.5rem;
}

.me-8 {
  margin-right: 2.5rem;
}

.m-9 {
  margin: 3rem;
}

.mx-9 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-9 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-9 {
  margin-top: 3rem;
}

.mb-9 {
  margin-bottom: 3rem;
}

.ms-9 {
  margin-left: 3rem;
}

.me-9 {
  margin-right: 3rem;
}

.m-10 {
  margin: 4rem;
}

.mx-10 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-10 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-10 {
  margin-top: 4rem;
}

.mb-10 {
  margin-bottom: 4rem;
}

.ms-10 {
  margin-left: 4rem;
}

.me-10 {
  margin-right: 4rem;
}

.m-11 {
  margin: 6rem;
}

.mx-11 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-11 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mt-11 {
  margin-top: 6rem;
}

.mb-11 {
  margin-bottom: 6rem;
}

.ms-11 {
  margin-left: 6rem;
}

.me-11 {
  margin-right: 6rem;
}

.m-12 {
  margin: 8rem;
}

.mx-12 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-12 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mt-12 {
  margin-top: 8rem;
}

.mb-12 {
  margin-bottom: 8rem;
}

.ms-12 {
  margin-left: 8rem;
}

.me-12 {
  margin-right: 8rem;
}

.m-13 {
  margin: 12rem;
}

.mx-13 {
  margin-left: 12rem;
  margin-right: 12rem;
}

.my-13 {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.mt-13 {
  margin-top: 12rem;
}

.mb-13 {
  margin-bottom: 12rem;
}

.ms-13 {
  margin-left: 12rem;
}

.me-13 {
  margin-right: 12rem;
}

.m-14 {
  margin: 16rem;
}

.mx-14 {
  margin-left: 16rem;
  margin-right: 16rem;
}

.my-14 {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.mt-14 {
  margin-top: 16rem;
}

.mb-14 {
  margin-bottom: 16rem;
}

.ms-14 {
  margin-left: 16rem;
}

.me-14 {
  margin-right: 16rem;
}

.m-15 {
  margin: 24rem;
}

.mx-15 {
  margin-left: 24rem;
  margin-right: 24rem;
}

.my-15 {
  margin-top: 24rem;
  margin-bottom: 24rem;
}

.mt-15 {
  margin-top: 24rem;
}

.mb-15 {
  margin-bottom: 24rem;
}

.ms-15 {
  margin-left: 24rem;
}

.me-15 {
  margin-right: 24rem;
}

.m-16 {
  margin: 32rem;
}

.mx-16 {
  margin-left: 32rem;
  margin-right: 32rem;
}

.my-16 {
  margin-top: 32rem;
  margin-bottom: 32rem;
}

.mt-16 {
  margin-top: 32rem;
}

.mb-16 {
  margin-bottom: 32rem;
}

.ms-16 {
  margin-left: 32rem;
}

.me-16 {
  margin-right: 32rem;
}

.m-17 {
  margin: 36rem;
}

.mx-17 {
  margin-left: 36rem;
  margin-right: 36rem;
}

.my-17 {
  margin-top: 36rem;
  margin-bottom: 36rem;
}

.mt-17 {
  margin-top: 36rem;
}

.mb-17 {
  margin-bottom: 36rem;
}

.ms-17 {
  margin-left: 36rem;
}

.me-17 {
  margin-right: 36rem;
}

.m-18 {
  margin: 40rem;
}

.mx-18 {
  margin-left: 40rem;
  margin-right: 40rem;
}

.my-18 {
  margin-top: 40rem;
  margin-bottom: 40rem;
}

.mt-18 {
  margin-top: 40rem;
}

.mb-18 {
  margin-bottom: 40rem;
}

.ms-18 {
  margin-left: 40rem;
}

.me-18 {
  margin-right: 40rem;
}

.m-19 {
  margin: 48rem;
}

.mx-19 {
  margin-left: 48rem;
  margin-right: 48rem;
}

.my-19 {
  margin-top: 48rem;
  margin-bottom: 48rem;
}

.mt-19 {
  margin-top: 48rem;
}

.mb-19 {
  margin-bottom: 48rem;
}

.ms-19 {
  margin-left: 48rem;
}

.me-19 {
  margin-right: 48rem;
}

.border-base {
  border: 1px solid;
}

.border-base-1 {
  border: 1px solid;
}

.border-base-2 {
  border: 2px solid;
}

.border-base-3 {
  border: 3px solid;
}

.border-base-4 {
  border: 4px solid;
}

.border-base-5 {
  border: 5px solid;
}

.radius-1 {
  border-radius: 1px;
}

.radius-2 {
  border-radius: 2px;
}

.radius-3 {
  border-radius: 3px;
}

.radius-4 {
  border-radius: 4px;
}

.radius-5 {
  border-radius: 5px;
}

.bg-gray-100 {
  background-color: #F1F1F2;
}

.text-gray-100 {
  color: #F1F1F2;
}

.border-gray-100 {
  border-color: #F1F1F2;
}

.bg-gray-200 {
  background-color: #D5D5D6;
}

.text-gray-200 {
  color: #D5D5D6;
}

.border-gray-200 {
  border-color: #D5D5D6;
}

.bg-gray-300 {
  background-color: #B8B9BA;
}

.text-gray-300 {
  color: #B8B9BA;
}

.border-gray-300 {
  border-color: #B8B9BA;
}

.bg-gray-400 {
  background-color: #9C9D9E;
}

.text-gray-400 {
  color: #9C9D9E;
}

.border-gray-400 {
  border-color: #9C9D9E;
}

.bg-gray-500 {
  background-color: #808182;
}

.text-gray-500 {
  color: #808182;
}

.border-gray-500 {
  border-color: #808182;
}

.bg-gray-10 {
  background-color: rgba(128, 129, 130, 0.1);
}

.text-gray-10 {
  color: rgba(128, 129, 130, 0.1);
}

.border-gray-10 {
  border-color: rgba(128, 129, 130, 0.1);
}

.bg-gray-600 {
  background-color: #646465;
}

.text-gray-600 {
  color: #646465;
}

.border-gray-600 {
  border-color: #646465;
}

.bg-gray-700 {
  background-color: #484849;
}

.text-gray-700 {
  color: #484849;
}

.border-gray-700 {
  border-color: #484849;
}

.bg-gray-800 {
  background-color: #2B2C2D;
}

.text-gray-800 {
  color: #2B2C2D;
}

.border-gray-800 {
  border-color: #2B2C2D;
}

.bg-gray-900 {
  background-color: #0F1011;
}

.text-gray-900 {
  color: #0F1011;
}

.border-gray-900 {
  border-color: #0F1011;
}

.bg-primary-100 {
  background-color: #FFF1E3;
}

.text-primary-100 {
  color: #FFF1E3;
}

.border-primary-100 {
  border-color: #FFF1E3;
}

.bg-primary-200 {
  background-color: #FFE5AC;
}

.text-primary-200 {
  color: #FFE5AC;
}

.border-primary-200 {
  border-color: #FFE5AC;
}

.bg-primary-300 {
  background-color: #FFD975;
}

.text-primary-300 {
  color: #FFD975;
}

.border-primary-300 {
  border-color: #FFD975;
}

.bg-primary-400 {
  background-color: #FFCD3E;
}

.text-primary-400 {
  color: #FFCD3E;
}

.border-primary-400 {
  border-color: #FFCD3E;
}

.bg-primary-500 {
  background-color: #FFC107;
}

.text-primary-500 {
  color: #FFC107;
}

.border-primary-500 {
  border-color: #FFC107;
}

.bg-primary-10 {
  background-color: rgba(255, 193, 7, 0.1);
}

.text-primary-10 {
  color: rgba(255, 193, 7, 0.1);
}

.border-primary-10 {
  border-color: rgba(255, 193, 7, 0.1);
}

.bg-primary-600 {
  background-color: #CC9708;
}

.text-primary-600 {
  color: #CC9708;
}

.border-primary-600 {
  border-color: #CC9708;
}

.bg-primary-700 {
  background-color: #996C08;
}

.text-primary-700 {
  color: #996C08;
}

.border-primary-700 {
  border-color: #996C08;
}

.bg-primary-800 {
  background-color: #654209;
}

.text-primary-800 {
  color: #654209;
}

.border-primary-800 {
  border-color: #654209;
}

.bg-primary-900 {
  background-color: #321709;
}

.text-primary-900 {
  color: #321709;
}

.border-primary-900 {
  border-color: #321709;
}

.bg-secondary-100 {
  background-color: #FFF0FC;
}

.text-secondary-100 {
  color: #FFF0FC;
}

.border-secondary-100 {
  border-color: #FFF0FC;
}

.bg-secondary-200 {
  background-color: #FDBEE6;
}

.text-secondary-200 {
  color: #FDBEE6;
}

.border-secondary-200 {
  border-color: #FDBEE6;
}

.bg-secondary-300 {
  background-color: #FB8CD0;
}

.text-secondary-300 {
  color: #FB8CD0;
}

.border-secondary-300 {
  border-color: #FB8CD0;
}

.bg-secondary-400 {
  background-color: #F859B9;
}

.text-secondary-400 {
  color: #F859B9;
}

.border-secondary-400 {
  border-color: #F859B9;
}

.bg-secondary-500 {
  background-color: #F627A3;
}

.text-secondary-500 {
  color: #F627A3;
}

.border-secondary-500 {
  border-color: #F627A3;
}

.bg-secondary-10 {
  background-color: rgba(246, 39, 163, 0.1);
}

.text-secondary-10 {
  color: rgba(246, 39, 163, 0.1);
}

.border-secondary-10 {
  border-color: rgba(246, 39, 163, 0.1);
}

.bg-secondary-600 {
  background-color: #C41E80;
}

.text-secondary-600 {
  color: #C41E80;
}

.border-secondary-600 {
  border-color: #C41E80;
}

.bg-secondary-700 {
  background-color: #93155E;
}

.text-secondary-700 {
  color: #93155E;
}

.border-secondary-700 {
  border-color: #93155E;
}

.bg-secondary-800 {
  background-color: #610B3B;
}

.text-secondary-800 {
  color: #610B3B;
}

.border-secondary-800 {
  border-color: #610B3B;
}

.bg-secondary-900 {
  background-color: #2F0218;
}

.text-secondary-900 {
  color: #2F0218;
}

.border-secondary-900 {
  border-color: #2F0218;
}

.bg-success-100 {
  background-color: #EEFFEF;
}

.text-success-100 {
  color: #EEFFEF;
}

.border-success-100 {
  border-color: #EEFFEF;
}

.bg-success-200 {
  background-color: #B9EAC2;
}

.text-success-200 {
  color: #B9EAC2;
}

.border-success-200 {
  border-color: #B9EAC2;
}

.bg-success-300 {
  background-color: #85D495;
}

.text-success-300 {
  color: #85D495;
}

.border-success-300 {
  border-color: #85D495;
}

.bg-success-400 {
  background-color: #50BF68;
}

.text-success-400 {
  color: #50BF68;
}

.border-success-400 {
  border-color: #50BF68;
}

.bg-success-500 {
  background-color: #1BAA3B;
}

.text-success-500 {
  color: #1BAA3B;
}

.border-success-500 {
  border-color: #1BAA3B;
}

.bg-success-10 {
  background-color: rgba(27, 170, 59, 0.1);
}

.text-success-10 {
  color: rgba(27, 170, 59, 0.1);
}

.border-success-10 {
  border-color: rgba(27, 170, 59, 0.1);
}

.bg-success-600 {
  background-color: #168E2D;
}

.text-success-600 {
  color: #168E2D;
}

.border-success-600 {
  border-color: #168E2D;
}

.bg-success-700 {
  background-color: #12711F;
}

.text-success-700 {
  color: #12711F;
}

.border-success-700 {
  border-color: #12711F;
}

.bg-success-800 {
  background-color: #0D5511;
}

.text-success-800 {
  color: #0D5511;
}

.border-success-800 {
  border-color: #0D5511;
}

.bg-success-900 {
  background-color: #083803;
}

.text-success-900 {
  color: #083803;
}

.border-success-900 {
  border-color: #083803;
}

.bg-info-100 {
  background-color: #E0EDFE;
}

.text-info-100 {
  color: #E0EDFE;
}

.border-info-100 {
  border-color: #E0EDFE;
}

.bg-info-200 {
  background-color: #AFCFFB;
}

.text-info-200 {
  color: #AFCFFB;
}

.border-info-200 {
  border-color: #AFCFFB;
}

.bg-info-300 {
  background-color: #7FB2F9;
}

.text-info-300 {
  color: #7FB2F9;
}

.border-info-300 {
  border-color: #7FB2F9;
}

.bg-info-400 {
  background-color: #4E94F6;
}

.text-info-400 {
  color: #4E94F6;
}

.border-info-400 {
  border-color: #4E94F6;
}

.bg-info-500 {
  background-color: #1D76F3;
}

.text-info-500 {
  color: #1D76F3;
}

.border-info-500 {
  border-color: #1D76F3;
}

.bg-info-10 {
  background-color: rgba(29, 118, 243, 0.1);
}

.text-info-10 {
  color: rgba(29, 118, 243, 0.1);
}

.border-info-10 {
  border-color: rgba(29, 118, 243, 0.1);
}

.bg-info-600 {
  background-color: #175EC2;
}

.text-info-600 {
  color: #175EC2;
}

.border-info-600 {
  border-color: #175EC2;
}

.bg-info-700 {
  background-color: #104692;
}

.text-info-700 {
  color: #104692;
}

.border-info-700 {
  border-color: #104692;
}

.bg-info-800 {
  background-color: #0A2E61;
}

.text-info-800 {
  color: #0A2E61;
}

.border-info-800 {
  border-color: #0A2E61;
}

.bg-info-900 {
  background-color: #031630;
}

.text-info-900 {
  color: #031630;
}

.border-info-900 {
  border-color: #031630;
}

.bg-warning-100 {
  background-color: #FEF5E9;
}

.text-warning-100 {
  color: #FEF5E9;
}

.border-warning-100 {
  border-color: #FEF5E9;
}

.bg-warning-200 {
  background-color: #FCE1BA;
}

.text-warning-200 {
  color: #FCE1BA;
}

.border-warning-200 {
  border-color: #FCE1BA;
}

.bg-warning-300 {
  background-color: #FACD8B;
}

.text-warning-300 {
  color: #FACD8B;
}

.border-warning-300 {
  border-color: #FACD8B;
}

.bg-warning-400 {
  background-color: #F7B95D;
}

.text-warning-400 {
  color: #F7B95D;
}

.border-warning-400 {
  border-color: #F7B95D;
}

.bg-warning-500 {
  background-color: #F5A52E;
}

.text-warning-500 {
  color: #F5A52E;
}

.border-warning-500 {
  border-color: #F5A52E;
}

.bg-warning-10 {
  background-color: rgba(245, 165, 46, 0.1);
}

.text-warning-10 {
  color: rgba(245, 165, 46, 0.1);
}

.border-warning-10 {
  border-color: rgba(245, 165, 46, 0.1);
}

.bg-warning-600 {
  background-color: #C58324;
}

.text-warning-600 {
  color: #C58324;
}

.border-warning-600 {
  border-color: #C58324;
}

.bg-warning-700 {
  background-color: #956219;
}

.text-warning-700 {
  color: #956219;
}

.border-warning-700 {
  border-color: #956219;
}

.bg-warning-800 {
  background-color: #64400F;
}

.text-warning-800 {
  color: #64400F;
}

.border-warning-800 {
  border-color: #64400F;
}

.bg-warning-900 {
  background-color: #341E04;
}

.text-warning-900 {
  color: #341E04;
}

.border-warning-900 {
  border-color: #341E04;
}

.window-close {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.element-close {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.window-shadow {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.window-shadow-md {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.window-shadow-xl {
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.2);
}

/****************************/
/* COMPONENTS */
.btn-primary-primary {
  background-color: #FFC107;
  color: #321709;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #FFD975;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary-primary > i {
  margin-right: 0.5rem;
}
.btn-primary-primary:hover {
  background-color: #FFCD3E;
  border-color: #FFD975;
  color: #321709 !important;
}
.btn-primary-primary:focus-visible {
  background-color: #FFC107 !important;
  border: 1px solid #FFD975 !important;
  color: #321709 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-primary-primary:active {
  background-color: #FFD975 !important;
  border: 1px solid #FFE5AC !important;
  color: #321709 !important;
}
.btn-primary-primary:visited {
  background-color: #FFCD3E;
  border-color: #FFD975;
  color: #321709 !important;
}

.btn-primary-secondary {
  background-color: rgba(255, 255, 255, 0);
  color: #654209;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #654209;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary-secondary > i {
  margin-right: 0.5rem;
}
.btn-primary-secondary:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: #996C08;
  color: #996C08 !important;
}
.btn-primary-secondary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #654209 !important;
  color: #654209 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-primary-secondary:active {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #CC9708 !important;
  color: #CC9708 !important;
}
.btn-primary-secondary:visited {
  background-color: rgba(255, 255, 255, 0);
  border-color: #996C08;
  color: #996C08 !important;
}

.btn-primary-tertiary {
  background-color: rgba(255, 255, 255, 0);
  color: #654209;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary-tertiary > i {
  margin-right: 0.5rem;
}
.btn-primary-tertiary:hover {
  background-color: rgba(255, 193, 7, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #996C08 !important;
}
.btn-primary-tertiary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #654209 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-primary-tertiary:active {
  background-color: rgba(255, 193, 7, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #996C08 !important;
}
.btn-primary-tertiary:visited {
  background-color: rgba(255, 193, 7, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #996C08 !important;
}

.btn-secondary-primary {
  background-color: #F627A3;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #FB8CD0;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-secondary-primary > i {
  margin-right: 0.5rem;
}
.btn-secondary-primary:hover {
  background-color: #F859B9;
  border-color: #FB8CD0;
  color: white !important;
}
.btn-secondary-primary:focus-visible {
  background-color: #F627A3 !important;
  border: 1px solid #FB8CD0 !important;
  color: white !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-secondary-primary:active {
  background-color: #FB8CD0 !important;
  border: 1px solid #FDBEE6 !important;
  color: white !important;
}
.btn-secondary-primary:visited {
  background-color: #F859B9;
  border-color: #FB8CD0;
  color: white !important;
}

.btn-secondary-secondary {
  background-color: rgba(255, 255, 255, 0);
  color: #F627A3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #F627A3;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-secondary-secondary > i {
  margin-right: 0.5rem;
}
.btn-secondary-secondary:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: #F859B9;
  color: #F859B9 !important;
}
.btn-secondary-secondary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #F627A3 !important;
  color: #F627A3 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-secondary-secondary:active {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #FB8CD0 !important;
  color: #FB8CD0 !important;
}
.btn-secondary-secondary:visited {
  background-color: rgba(255, 255, 255, 0);
  border-color: #F859B9;
  color: #F859B9 !important;
}

.btn-secondary-tertiary {
  background-color: rgba(255, 255, 255, 0);
  color: #F627A3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-secondary-tertiary > i {
  margin-right: 0.5rem;
}
.btn-secondary-tertiary:hover {
  background-color: rgba(246, 39, 163, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #F627A3 !important;
}
.btn-secondary-tertiary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #F627A3 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-secondary-tertiary:active {
  background-color: rgba(246, 39, 163, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #F627A3 !important;
}
.btn-secondary-tertiary:visited {
  background-color: rgba(246, 39, 163, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #F627A3 !important;
}

.btn-light-primary {
  background-color: #0F1011;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #484849;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-light-primary > i {
  margin-right: 0.5rem;
}
.btn-light-primary:hover {
  background-color: #2B2C2D;
  border-color: #484849;
  color: white !important;
}
.btn-light-primary:focus-visible {
  background-color: #0F1011 !important;
  border: 1px solid #484849 !important;
  color: white !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-light-primary:active {
  background-color: #484849 !important;
  border: 1px solid #9C9D9E !important;
  color: white !important;
}
.btn-light-primary:visited {
  background-color: #2B2C2D;
  border-color: #484849;
  color: white !important;
}

.btn-light-secondary {
  background-color: rgba(255, 255, 255, 0);
  color: #0F1011;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #0F1011;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-light-secondary > i {
  margin-right: 0.5rem;
}
.btn-light-secondary:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: #484849;
  color: #484849 !important;
}
.btn-light-secondary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #0F1011 !important;
  color: #0F1011 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-light-secondary:active {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #646465 !important;
  color: #646465 !important;
}
.btn-light-secondary:visited {
  background-color: rgba(255, 255, 255, 0);
  border-color: #484849;
  color: #484849 !important;
}

.btn-light-tertiary {
  background-color: rgba(255, 255, 255, 0);
  color: #0F1011;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-light-tertiary > i {
  margin-right: 0.5rem;
}
.btn-light-tertiary:hover {
  background-color: rgba(15, 16, 17, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #0F1011 !important;
}
.btn-light-tertiary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #0F1011 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-light-tertiary:active {
  background-color: rgba(15, 16, 17, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #0F1011 !important;
}
.btn-light-tertiary:visited {
  background-color: rgba(15, 16, 17, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #0F1011 !important;
}

.btn-info-primary {
  background-color: #1D76F3;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #7FB2F9;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-info-primary > i {
  margin-right: 0.5rem;
}
.btn-info-primary:hover {
  background-color: #4E94F6;
  border-color: #7FB2F9;
  color: white !important;
}
.btn-info-primary:focus-visible {
  background-color: #1D76F3 !important;
  border: 1px solid #7FB2F9 !important;
  color: white !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-info-primary:active {
  background-color: #7FB2F9 !important;
  border: 1px solid #AFCFFB !important;
  color: white !important;
}
.btn-info-primary:visited {
  background-color: #4E94F6;
  border-color: #7FB2F9;
  color: white !important;
}

.btn-info-secondary {
  background-color: rgba(255, 255, 255, 0);
  color: #1D76F3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #1D76F3;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-info-secondary > i {
  margin-right: 0.5rem;
}
.btn-info-secondary:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: #4E94F6;
  color: #4E94F6 !important;
}
.btn-info-secondary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #1D76F3 !important;
  color: #1D76F3 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-info-secondary:active {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #7FB2F9 !important;
  color: #7FB2F9 !important;
}
.btn-info-secondary:visited {
  background-color: rgba(255, 255, 255, 0);
  border-color: #4E94F6;
  color: #4E94F6 !important;
}

.btn-info-tertiary {
  background-color: rgba(255, 255, 255, 0);
  color: #1D76F3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-info-tertiary > i {
  margin-right: 0.5rem;
}
.btn-info-tertiary:hover {
  background-color: rgba(29, 118, 243, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #1D76F3 !important;
}
.btn-info-tertiary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #1D76F3 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-info-tertiary:active {
  background-color: rgba(29, 118, 243, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #1D76F3 !important;
}
.btn-info-tertiary:visited {
  background-color: rgba(29, 118, 243, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #1D76F3 !important;
}

.btn-success-primary {
  background-color: #1BAA3B;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #85D495;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-success-primary > i {
  margin-right: 0.5rem;
}
.btn-success-primary:hover {
  background-color: #50BF68;
  border-color: #85D495;
  color: white !important;
}
.btn-success-primary:focus-visible {
  background-color: #1BAA3B !important;
  border: 1px solid #85D495 !important;
  color: white !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-success-primary:active {
  background-color: #85D495 !important;
  border: 1px solid #B9EAC2 !important;
  color: white !important;
}
.btn-success-primary:visited {
  background-color: #50BF68;
  border-color: #85D495;
  color: white !important;
}

.btn-success-secondary {
  background-color: rgba(255, 255, 255, 0);
  color: #1BAA3B;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #1BAA3B;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-success-secondary > i {
  margin-right: 0.5rem;
}
.btn-success-secondary:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: #50BF68;
  color: #50BF68 !important;
}
.btn-success-secondary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #1BAA3B !important;
  color: #1BAA3B !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-success-secondary:active {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #85D495 !important;
  color: #85D495 !important;
}
.btn-success-secondary:visited {
  background-color: rgba(255, 255, 255, 0);
  border-color: #50BF68;
  color: #50BF68 !important;
}

.btn-success-tertiary {
  background-color: rgba(255, 255, 255, 0);
  color: #1BAA3B;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-success-tertiary > i {
  margin-right: 0.5rem;
}
.btn-success-tertiary:hover {
  background-color: rgba(27, 170, 59, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #1BAA3B !important;
}
.btn-success-tertiary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #1BAA3B !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-success-tertiary:active {
  background-color: rgba(27, 170, 59, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #1BAA3B !important;
}
.btn-success-tertiary:visited {
  background-color: rgba(27, 170, 59, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #1BAA3B !important;
}

.btn-warning-primary {
  background-color: #F5A52E;
  color: #341E04;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #FACD8B;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-warning-primary > i {
  margin-right: 0.5rem;
}
.btn-warning-primary:hover {
  background-color: #F7B95D;
  border-color: #FACD8B;
  color: #341E04 !important;
}
.btn-warning-primary:focus-visible {
  background-color: #F5A52E !important;
  border: 1px solid #FACD8B !important;
  color: #341E04 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-warning-primary:active {
  background-color: #FACD8B !important;
  border: 1px solid #FCE1BA !important;
  color: #341E04 !important;
}
.btn-warning-primary:visited {
  background-color: #F7B95D;
  border-color: #FACD8B;
  color: #341E04 !important;
}

.btn-warning-secondary {
  background-color: rgba(255, 255, 255, 0);
  color: #64400F;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #64400F;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-warning-secondary > i {
  margin-right: 0.5rem;
}
.btn-warning-secondary:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: #956219;
  color: #956219 !important;
}
.btn-warning-secondary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #64400F !important;
  color: #64400F !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-warning-secondary:active {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #C58324 !important;
  color: #C58324 !important;
}
.btn-warning-secondary:visited {
  background-color: rgba(255, 255, 255, 0);
  border-color: #956219;
  color: #956219 !important;
}

.btn-warning-tertiary {
  background-color: rgba(255, 255, 255, 0);
  color: #64400F;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-warning-tertiary > i {
  margin-right: 0.5rem;
}
.btn-warning-tertiary:hover {
  background-color: rgba(245, 165, 46, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #956219 !important;
}
.btn-warning-tertiary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #64400F !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-warning-tertiary:active {
  background-color: rgba(245, 165, 46, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #956219 !important;
}
.btn-warning-tertiary:visited {
  background-color: rgba(245, 165, 46, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #956219 !important;
}

.btn-danger-primary {
  background-color: #D22D41;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #E88E9A;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-danger-primary > i {
  margin-right: 0.5rem;
}
.btn-danger-primary:hover {
  background-color: #DD5E6E;
  border-color: #E88E9A;
  color: white !important;
}
.btn-danger-primary:focus-visible {
  background-color: #D22D41 !important;
  border: 1px solid #E88E9A !important;
  color: white !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-danger-primary:active {
  background-color: #E88E9A !important;
  border: 1px solid #F3BEC6 !important;
  color: white !important;
}
.btn-danger-primary:visited {
  background-color: #DD5E6E;
  border-color: #E88E9A;
  color: white !important;
}

.btn-danger-secondary {
  background-color: rgba(255, 255, 255, 0);
  color: #D22D41;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #D22D41;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-danger-secondary > i {
  margin-right: 0.5rem;
}
.btn-danger-secondary:hover {
  background-color: rgba(255, 255, 255, 0);
  border-color: #DD5E6E;
  color: #DD5E6E !important;
}
.btn-danger-secondary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #D22D41 !important;
  color: #D22D41 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-danger-secondary:active {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid #E88E9A !important;
  color: #E88E9A !important;
}
.btn-danger-secondary:visited {
  background-color: rgba(255, 255, 255, 0);
  border-color: #DD5E6E;
  color: #DD5E6E !important;
}

.btn-danger-tertiary {
  background-color: rgba(255, 255, 255, 0);
  color: #D22D41;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-danger-tertiary > i {
  margin-right: 0.5rem;
}
.btn-danger-tertiary:hover {
  background-color: rgba(210, 45, 65, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #D22D41 !important;
}
.btn-danger-tertiary:focus-visible {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #D22D41 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-danger-tertiary:active {
  background-color: rgba(210, 45, 65, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  color: #D22D41 !important;
}
.btn-danger-tertiary:visited {
  background-color: rgba(210, 45, 65, 0.1);
  border-color: rgba(255, 255, 255, 0);
  color: #D22D41 !important;
}

.link-primary {
  color: #996C08 !important;
  text-decoration: none;
  font-weight: 600;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.link-primary > i {
  margin-right: 0.5rem !important;
}
.link-primary:hover {
  color: #FFC107 !important;
}
.link-primary:active {
  color: #996C08 !important;
}
.link-primary:focus-visible, .link-primary:focus {
  color: #FFC107 !important;
  outline: -webkit-focus-ring-color auto 1px;
  outline-style: none;
  outline-width: 0px;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}

.link-secondary {
  color: #93155E !important;
  text-decoration: none;
  font-weight: 600;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.link-secondary > i {
  margin-right: 0.5rem !important;
}
.link-secondary:hover {
  color: #F627A3 !important;
}
.link-secondary:active {
  color: #93155E !important;
}
.link-secondary:focus-visible, .link-secondary:focus {
  color: #F627A3 !important;
  outline: -webkit-focus-ring-color auto 1px;
  outline-style: none;
  outline-width: 0px;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}

/*
*
* MIXINS A
* RULES  V
*
*/
.form-label {
  color: #0F1011;
  font-weight: 600;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=file],
input[type=date] {
  border-radius: 5px;
  border-color: #D5D5D6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 2.5rem;
}
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=number]:hover,
input[type=file]:hover,
input[type=date]:hover {
  outline-offset: 1px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=file]:focus,
input[type=date]:focus {
  border-color: #ffcd3e;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder,
input[type=file]::placeholder,
input[type=date]::placeholder {
  color: #808182;
}

.ts-control,
.ts-dropdown .ts-control input,
.ts-dropdown input .ts-control:active,
.ts-dropdown:active {
  border-radius: 5px;
  border-color: #D5D5D6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 2.5rem;
}
.ts-control:hover,
.ts-dropdown .ts-control input:hover,
.ts-dropdown input .ts-control:active:hover,
.ts-dropdown:active:hover {
  outline-offset: 1px;
}
.ts-control:focus,
.ts-dropdown .ts-control input:focus,
.ts-dropdown input .ts-control:active:focus,
.ts-dropdown:active:focus {
  border-color: #ffcd3e !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5) !important;
}
.ts-control::placeholder,
.ts-dropdown .ts-control input::placeholder,
.ts-dropdown input .ts-control:active::placeholder,
.ts-dropdown:active::placeholder {
  color: #808182;
}

input[type=file]::file-selector-button {
  color: #0F1011 !important;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}

input[type=radio], input[type=checkbox] {
  border-radius: 5px;
  border-color: #D5D5D6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type=radio]:hover, input[type=checkbox]:hover {
  outline-offset: 1px;
}
input[type=radio]:focus, input[type=checkbox]:focus {
  border-color: #ffcd3e;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
input[type=radio]::placeholder, input[type=checkbox]::placeholder {
  color: #808182;
}
input[type=radio]:checked, input[type=checkbox]:checked {
  background-color: #ffc107;
  border-color: rgba(204, 151, 8, 0.1);
}

.form-select {
  border-radius: 5px;
  border-color: #D5D5D6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-height: 2.5rem;
}
.form-select:hover {
  outline-offset: 1px;
}
.form-select:focus {
  border-color: #ffcd3e;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.form-select::placeholder {
  color: #808182;
}

.input-icon-left {
  position: relative;
}
.input-icon-left i {
  position: absolute;
  left: 1rem;
  top: 30%;
  transform: translateY(-50%);
  color: #484849;
  pointer-events: none;
  font-size: 1rem;
}
.input-icon-left input {
  padding-left: 2.7rem;
}

.input-icon-right {
  position: relative;
}
.input-icon-right i {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  color: #484849;
  font-size: 1rem;
  pointer-events: none;
}
.input-icon-right i.first-icon {
  left: 1rem;
}
.input-icon-right i.last-icon {
  right: 1rem;
  pointer-events: auto;
  cursor: pointer;
}
.input-icon-right input {
  padding-right: 2.7rem;
  padding-left: 2.7rem;
}

.badge-primary {
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #CC9708;
  background-color: #FFCD3E;
  text-transform: uppercase;
  color: white;
  padding: 0.1rem 0.5rem;
}
.badge-primary + .badge-primary {
  margin-right: 0.3rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.badge-success {
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #168E2D;
  background-color: #50BF68;
  text-transform: uppercase;
  color: white;
  padding: 0.1rem 0.5rem;
}
.badge-success + .badge-success {
  margin-right: 0.3rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.badge-info {
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #175EC2;
  background-color: #4E94F6;
  text-transform: uppercase;
  color: white;
  padding: 0.1rem 0.5rem;
}
.badge-info + .badge-info {
  margin-right: 0.3rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.badge-warning {
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #C58324;
  background-color: #F7B95D;
  text-transform: uppercase;
  color: white;
  padding: 0.1rem 0.5rem;
}
.badge-warning + .badge-warning {
  margin-right: 0.3rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.badge-danger {
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #AB2335;
  background-color: #DD5E6E;
  text-transform: uppercase;
  color: white;
  padding: 0.1rem 0.5rem;
}
.badge-danger + .badge-danger {
  margin-right: 0.3rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.window-white {
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgba(213, 213, 214, 0.5);
}

/****************************/
/* VIEWS FOR ECONTABLE */
/* Sidebar  */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0F1011;
  padding: 2rem 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#main-sidebar hr {
  margin: 0;
}

#toggle-btn {
  width: 100%;
}
#toggle-btn > i {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.my-nav-list, .my-nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-list-item {
  width: 100%;
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: space-between;
  text-decoration: none;
  color: #B8B9BA;
}
.nav-list-item span {
  display: flex;
  flex-direction: row;
}
.nav-list-item span h5 {
  margin: 0 auto;
}
.nav-list-item span .menu-icon-flex {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
.nav-list-item span .menu-icon-flex i {
  display: inline-block;
  margin: auto;
}
.nav-list-item:hover {
  color: #F1F1F2;
  background-color: #2B2C2D;
}
.nav-list-item:focus-visible {
  outline-style: none;
  outline-width: 0px;
  box-shadow: 0 0 0 0.25rem #ffc107;
}

.nav-list-toggler {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

/*Solo sidebar para pruebas */
.seccion-nos img {
  height: 1.5rem;
}

/*FIN seccion de marca Tecya*/
/*CSS SOLO PARA LOS COLAPSABLES*/
.collapsible ul {
  display: none;
  margin-top: 10px; /* Ajusta según sea necesario */
}

.collapsible.open ul {
  display: block;
}

.collapsible .fa-chevron-down {
  transition: transform 0.3s ease;
}

.collapsible.open .fa-chevron-down {
  transform: rotate(180deg);
}

/* FIN CSS SOLO PARA LOS COLAPSABLES */
/*Cambio de tama;o del sidebar*/
#sidebar.collapsed {
  width: 85px; /* Ancho del sidebar cuando está colapsado */
}

/*cosas que no quiero que aparescan cuando se hace peque;o el sidebar*/
#sidebar.collapsed .title-nav h6,
#sidebar.collapsed .nav-list-item p,
#sidebar.collapsed .nav-list-item h5,
#sidebar.collapsed .fa-chevron-down,
#sidebar.collapsed #nosotros img,
#sidebar.collapsed #nosotros small {
  display: none; /* Oculta textos, imágenes y otros elementos */
}

/*COSAS QUE QUIERO MOSTRAR CUANDO EL SIDEBAR ES PEQUENO*/
/*icono pequeno q solo se utiliza en el sidebar pequeno*/
#sidebar.collapsed .icon-small {
  display: flex;
}

.icon-small {
  display: none;
}

/*FIN icono pequeno q solo se utiliza en el sidebar pequeno*/
/*cosas que no quiero que aparezcan cuando se hace peque;o el sidebar*/
#sidebar.collapsed .title-nav h6,
#sidebar.collapsed .nav-list-item p,
#sidebar.collapsed .nav-list-item h5,
#sidebar.collapsed .fa-chevron-down,
#sidebar.collapsed #nosotros img,
#sidebar.collapsed #nosotros small,
#sidebar.collapsed #empresas-list,
#sidebar.collapsed #indicadores-list {
  display: none; /* Oculta textos, imágenes y otros elementos */
}

#sidebar.collapsed {
  width: 85px; /* Ancho del sidebar cuando está colapsado */
  align-items: center;
}
#sidebar.collapsed .nav-list-item {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
#sidebar.collapsed span .menu-icon-flex {
  width: 100%;
  margin: 0;
  align-items: center;
}
#sidebar.collapsed span .menu-icon-flex i {
  margin: 0 auto;
}
#sidebar.collapsed .icon-small {
  display: flex;
}

.icon-small {
  display: none;
}

/*FIN icono pequeno q solo se utiliza en el sidebar pequeno*/
/* FIN SOLO SIDEBAR PARA PRUEBAS */
/*

LISTA DE COMPONENTES PARA EL NAVBAR

- Label de empresa actual (id)
- Seccion de empresa activa (id)

- Icon label item (class), fixed | li > div/span
- Icon label toggler (class), auto - (Icon label item + toggler) | li > div/span + div/span

- icon + item (auto layouteable) div > img

*/
.div-dos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.seccion-amarilla {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #D5D5D6;
  width: 100%;
  height: 100%;
}

.seccion-mukup {
  background-color: #353535;
  background-image: asset-url("frame.png");
  background-repeat: no-repeat;
  background-size: fill;
  width: 100%;
  height: 100%;
}

.marca {
  width: 40%;
}

h2 {
  margin-bottom: 2.5rem;
}

.row-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-center > * {
  margin: -8px 0;
}

.s-d {
  margin-top: 1.2%;
}/*# sourceMappingURL=style.css.map */