// MIXIN

@mixin my-nav-item(){
  width: 100%;
  padding: map-get($sizes, 3) map-get($sizes, 2);
  // transition: all .15s ease-in-out;
  display: flex;
  flex-direction: row;
  font-size: map-get($sizes, 4);
  justify-content: space-between;
}

/* Sidebar  */ 
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: map-get($grayscale, 900);
  padding: map-get($sizes, 6) map-get($sizes, 5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-sidebar {
  display: flex;
  flex-direction: column;
  gap: map-get($sizes, 9);
  hr {
    margin: 0;
  }

}


#toggle-btn{
  width: 100%;
  > i {
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
}

.my-nav-list, .my-nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: map-get($sizes, 4);
}

.nav-list-item {
  @include my-nav-item();
  span {
    display: flex;
    flex-direction: row;
    h5 {
      margin: 0 auto;
    }    
    .menu-icon-flex{
      width: map-get($sizes, 5);
      height: map-get($sizes, 5);
      margin-right: map-get($sizes, 4);
      i {
        display: inline-block;
        margin: auto;
      }
    }
  }
  text-decoration: none;
  color: map-get($grayscale, 300);

  &:hover {
    color: map-get($grayscale, 100);
    background-color: map-get($grayscale, 800);
    // color: map-get($map: $grayscale, $key: 400);
  }
  
  &:focus-visible {
    outline-style: none;
    outline-width: 0px;
    box-shadow: 0 0 0 .25rem rgba(map-get($primary, 500), 1);
  }
}

.nav-list-toggler {
  font-size: 1.25rem; // 20px
  line-height: 1.75rem;
  font-weight: map-get($map: $font-weights, $key: medium);
}



/*Solo sidebar para pruebas */

.seccion-nos img {
  height: map-get($sizes, 5);
}


/*FIN seccion de marca Tecya*/

/*CSS SOLO PARA LOS COLAPSABLES*/

.collapsible ul {
  display: none;
  margin-top: 10px; /* Ajusta según sea necesario */
}

.collapsible.open ul {
  display: block;
}

.collapsible .fa-chevron-down {
  transition: transform 0.3s ease;
}

.collapsible.open .fa-chevron-down {
  transform: rotate(180deg);
}

/* FIN CSS SOLO PARA LOS COLAPSABLES */


/*Cambio de tama;o del sidebar*/




#sidebar.collapsed {
  width: 85px; /* Ancho del sidebar cuando está colapsado */
}

/*cosas que no quiero que aparescan cuando se hace peque;o el sidebar*/

#sidebar.collapsed .title-nav h6,
#sidebar.collapsed .nav-list-item p,
#sidebar.collapsed .nav-list-item h5,
#sidebar.collapsed .fa-chevron-down,
#sidebar.collapsed #nosotros img,
#sidebar.collapsed #nosotros small
 {
  display: none; /* Oculta textos, imágenes y otros elementos */
}


/*COSAS QUE QUIERO MOSTRAR CUANDO EL SIDEBAR ES PEQUENO*/
/*icono pequeno q solo se utiliza en el sidebar pequeno*/
#sidebar.collapsed .icon-small{
  display: flex;
}

.icon-small {
  display: none;
}

/*FIN icono pequeno q solo se utiliza en el sidebar pequeno*/










/*cosas que no quiero que aparezcan cuando se hace peque;o el sidebar*/

#sidebar.collapsed .title-nav h6,
#sidebar.collapsed .nav-list-item p,
#sidebar.collapsed .nav-list-item h5,
#sidebar.collapsed .fa-chevron-down,
#sidebar.collapsed #nosotros img,
#sidebar.collapsed #nosotros small,
#sidebar.collapsed #empresas-list,
#sidebar.collapsed #indicadores-list
 {
  display: none; /* Oculta textos, imágenes y otros elementos */
}


// #sidebar.collapsed span i{
// }

//Todo lo q va en el sidebar colapsado

#sidebar.collapsed {
  width: 85px; /* Ancho del sidebar cuando está colapsado */
  align-items: center;
  .nav-list-item {
    width: map-get($sizes,9);
    height: map-get($sizes,9);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  span {
    .menu-icon-flex {
      width: 100%;
      margin: 0;
      align-items: center;
      i {
        margin: 0 auto;
      }

    }
    
  }
  .icon-small{
    display: flex;
  }
}


.icon-small {
  display: none;
}

/*FIN icono pequeno q solo se utiliza en el sidebar pequeno*/






/* FIN SOLO SIDEBAR PARA PRUEBAS */



/*

LISTA DE COMPONENTES PARA EL NAVBAR

- Label de empresa actual (id)
- Seccion de empresa activa (id)

- Icon label item (class), fixed | li > div/span
- Icon label toggler (class), auto - (Icon label item + toggler) | li > div/span + div/span

- icon + item (auto layouteable) div > img

*/

